<section>
    <div class="appheader">
        <h3>{{myFieldset.actionName}} {{myFieldset.collectionName}} <strong>{{newitem.Name}}</strong></h3>
    </div>
    <form ng-submit="createItem(newitem)"  class="form-group col-lg-6">

        <fieldset>
        <div ng-repeat="item in myFieldset.fields" class="input-group">
            <span class="input-group-addon">{{item.label}}</span>
            <input class="form-control" ng-model="$parent.newitem[item.field]" ng-required="item.required">
        </div>
        </fieldset>

        <button type="submit" class="btn btn-success">{{myFieldset.actionName}}
            <i ng-if="myFieldset.actionName == 'Create'" class="glyphicon glyphicon-plus-sign"></i>
            <i ng-if="myFieldset.actionName == 'Update'" class="glyphicon glyphicon-pencil"></i>
        </button>
    </form>
</section>