<section>
    <div class="appheader">
        <h3>{{myUpdateFieldset.actionName}} {{myUpdateFieldset.collectionName}} <strong>{{tabValue.item.Name}}</strong></h3>
    </div>

    <form ng-submit="updateItem(tabValue.item)"  class="form-group">

        <fieldset>
            <div ng-repeat="item in myUpdateFieldset.fields" class="input-group">
                <span class="input-group-addon">{{item.label}}</span>
                <input class="form-control" ng-model="$parent.tabValue.item[item.field]" ng-required="item.required">
            </div>
        </fieldset>

        <button type="submit" class="btn btn-success">{{myUpdateFieldset.actionName}}
            <i ng-if="myUpdateFieldset.actionName == 'Create'" class="glyphicon glyphicon-plus-sign"></i>
            <i ng-if="myUpdateFieldset.actionName == 'Update'" class="glyphicon glyphicon-pencil"></i>
        </button>

    </form>

    <button type="delete" class="btn btn-danger"  ng-click="deleteItem(tabValue.item)">Delete
        <i ng-if="myUpdateFieldset.actionName == 'Update'" class="glyphicon glyphicon-trash"></i>
    </button>

    <!-- Modal Template -->

    <script type="text/ng-template" id="appModal">
        <div class="modal-header">
            <i class="fa pull-right fa-{{modal.icon}}" ng-if="modal.icon" ng-class="{'error' : modal.title == 'Error','warning' : modal.title == 'Warning','success' : modal.title == 'Success'}"></i>
            <h4 class="modal-title">{{modal.title}}</h4>
        </div>
        <div class="modal-body">
            {{modal.body}}
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="cancel()">Cancel</button>
            <button class="btn btn-primary" type="button" ng-click="confirm()">OK</button>
        </div>
    </script>

    <script type="text/ng-template" id="appModal2">
        <div class="modal-header">
            <i class="fa pull-right fa-{{modal.icon}}" ng-if="modal.icon" ng-class="{'error' : modal.title == 'Error','warning' : modal.title == 'Warning','success' : modal.title == 'Success'}"></i>
            <h4 class="modal-title">{{modal.title}}</h4>
        </div>
        <div class="modal-body">
            {{modal.body}}
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="cancel()">OK</button>
        </div>
    </script>

</section>