<section>
<md-tabs md-border-bottom class="oneHundred">
    <md-tab ng-repeat="(tabKey,tabValue) in masterTabset track by $index" md-active="tabValue.active">
        <md-tab-label>
            <span>{{tabValue.label}}</span>
            <!--close tab button -->
            <!--
            <a href="" ng-click="removeTab(tabKey)"><i class="fa fa-times"></i></a>
            -->
        </md-tab-label>
        <md-tab-body>
            <!-- this ng-if logic allow us to only load in the tab view that is currently active -->
            <ng-include ng-if="tabKey == 'clientTypeTab'" src="tabValue.view"></ng-include>
            <ng-include ng-if="tabKey == 'tasksTab'" src="tabValue.view"></ng-include>
            <ng-include ng-if="tabKey == 'employeesTab'" src="tabValue.view"></ng-include>
            <ng-include ng-if="tabKey == 'clientsTab'" src="tabValue.view"></ng-include>
            <ng-include ng-if="tabKey == 'clientTasksTab'" src="tabValue.view"></ng-include>
        </md-tab-body>
    </md-tab>
</md-tabs>
</section>