<div ng-controller="MenuController" class="mainmenu">
    <span ng-click="showMainMenu($event)" class="tips expander" title="Expand Menu">&nbsp;<i class="fa fa-backward pull-right"></i></span>
    <accordion close-others="true">
        <accordion-group is-open="mv.open" ng-repeat="(mk,mv) in oclMenu track by $index">
            <accordion-heading>
                <i class="fa pull-right" ng-class="mv.icon" title="{{mv.name}} : {{mv.description}}"></i>{{mv.name}}
            </accordion-heading>
            <ul class="list-unstyled">
                <li title="{{miv.name}}" ng-repeat="(mik,miv) in mv.items track by $index">
                    <a ng-click="openPage(miv.location)"><i class="fa pull-right" ng-class="miv.icon"></i><span>{{miv.name}}</span></a>
                </li>
            </ul>
        </accordion-group>
    </accordion>
</div>
