/* ================================================================================
   Tooltips
   ================================================================================ */



.breadcrumbs {
    margin: 6px 0;
    padding: 0;
}

.breadcrumbs li {
    display: inline-block;
    color: #fff;
    font-size: 1.31em;
    margin: 0 14px 0 0;
}

.breadcrumbs li span.fa {
    display: inline-block;
    padding: 0 14px 0 0;
}
