/* ================================================================================
   Appearance Effects
   ================================================================================ */

.nopad {
    padding: 0;
}

.shadow {
    -webkit-box-shadow: 0 0 3px 0 rgba(0,64,110,0.7);
    -moz-box-shadow: 0 0 3px 0 rgba(0,64,110,0.7);
    box-shadow: 0 0 3px 0 rgba(0,64,110,0.7);
}
