/* ================================================================================
   Home View Content
   ================================================================================ */
section[ttDashboard] {
}

section[ttDashboard] div.panel-group {
    box-shadow: 4px 4px 5px #888;
}