/* ================================================================================
   Home View Content
   ================================================================================ */
section[oclDashboard] {
}

section[oclDashboard] div.panel-group {
    box-shadow: 4px 4px 5px #888;
}