.spinner {
    position: absolute;
    z-index: 9999999;
    background: rgba(0,0,0,0.49);
}

.spinner > div {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -3% 0 0 -7%;
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.77);
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.77);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.77);
}

.spinner > div > i.fa {
    text-shadow: rgba(255,255,255,0.5);
    color: #ff0000;
    vertical-align: middle;
    margin: 0 14px 0 0;
}

section.spinning {
    overflow: hidden;
}