<div >
    <form ng-submit="createEmployee(newemployee)" layout="row" flex="100">
        <md-input-container flex>
            <label>First Name</label>
            <input ng-model="newemployee.FirstName" required>
        </md-input-container>
        <md-input-container flex>
            <label>Last Name</label>
            <input ng-model="newemployee.LastName" required>
        </md-input-container>
        <md-input-container flex>
            <label>Email</label>
            <input ng-model="newemployee.Email" required>
        </md-input-container>
        <md-button class="md-raised md-primary" type="submit" aria-label="Create Employee">
            <i class="fa fa-plus">Create</i>
        </md-button>
    </form>
</div>
