<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"> <!-- force IE to use most recent standard mode -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/bootstrap.min.css" rel="stylesheet">

<title>TrakkTask Error</title>

</head>
<body>


<h1>Error page</h1>

<div class="alert alert-success">
    <strong>The System Could not reach the database.</strong>

</div>



<script src="/js/angular.js"></script>



</body>


</html>
