<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org" id="ng-app" ng-app="TrakkTask">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"> <!-- force IE to use most recent standard mode -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{env}}: Taskmaster [BETA]</title>
    <!-- Styles -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap.client.styles.css" rel="stylesheet">
    <link href="css/ngToast.min.css" rel="stylesheet">
    <link href="css/ngToast-animations.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">

    <link href="css/angular-material-overrides.client.styles.css" rel="stylesheet"> <!-- Angular Material overrides -->
    <link href="css/bootstrap-overrides.client.styles.css" rel="stylesheet"> <!-- Bootstrap overrides -->
    <link href="css/core.client.styles.css" rel="stylesheet">
    <link href="css/overrides.client.styles.css" rel="stylesheet">
    <link href="css/ngtoast-overrides.client.styles.css" rel="stylesheet">
    <link href="css/ng-animate.client.styles.css" rel="stylesheet">
    <link href="css/overrides-mobile.client.styles.css" rel="stylesheet">
    <link href="css/typography.client.styles.css" rel="stylesheet">

    <link href="css/header.client.styles.css" rel="stylesheet">
    <link href="css/contentpane.client.styles.css" rel="stylesheet">
    <link href="modules/core/css/mainmenu.client.styles.css" rel="stylesheet">

    <link href="css/toggle.style.css" rel="stylesheet"> <!-- Toggle Switch styles : http://callmenick.com/post/css-toggle-switch-examples -->
    <link href="js/UI-Grid-3.2.6/ui-grid.min.css" rel="stylesheet">

    <link rel="shortcut icon" href="images/favicon.ico">

    <script src="js/es5-shim.min.js"></script> <!-- ES5 Shim to get Angular working with IE9 -->
    <script src="js/jquery.js"></script> <!-- JQuery Lib -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/angular.min.js"></script> <!-- AngularJS Lib -->

    <!-- Other plugins and libs -->
    <script src="js/CryptoJS/rollups/sha1.js"></script> <!-- CryptoJS MD5 Hasher -->
    <script src="js/async.js"></script> <!-- Async -->

    <!-- Angular Plugins -->
    <script src="js/xeditable.js"></script> <!-- XEditable -->
    <script src="js/ui-bootstrap-tpls.min.js"></script> <!-- Bootstrap UI 0.13.4 -->

    <script src="js/angular-material.min.js"></script> <!-- Angular Material 1.0.7 -->
    <script src="js/angular-animate.min.js"></script>
    <script src="js/angular-aria.min.js"></script>
    <script src="js/angular-route.min.js"></script>
    <script src="js/angular-messages.min.js"></script> <!-- Angular Messages -->
    <script src="js/angular-sanitize.min.js"></script>
    <script src="js/angular-clipboard.js"></script> <!-- Angular Clipboard -->
    <script src="js/ng-csv.min.js"></script> <!-- NG CSV -->
    <script src="js/angular-idle.min.js"></script>

    <!--more Plugins-->
    <script src="js/jstz.min.js"></script> <!-- jsTimezoneDetect -->
    <script src="js/moment.js"></script> <!-- Angular Moment -->
    <script src="js/angular-moment.min.js"></script> <!-- Angular Moment -->
    <script src="js/moment-timezone-with-data-2010-2020.min.js"></script>
    <script src="js/chosen.jquery.min.js"></script>
    <script src="js/ngToast.min.js"></script> <!-- ngToast -->
    <script src="js/ocLazyLoad.js"></script>
    <script src="js/line-chart.min.js"></script>
    <script src="js/ui-iconpicker.min.js"></script>
    <script src="js/underscore-min.js"></script>
    <script src="js/underscore-to-lodash.shim.js"></script>
    <script src="js/ng-lodash.min.js"></script> <!-- lodash -->
    <script src="js/UI-Grid-3.2.6/ui-grid.min.js"></script> <!-- UI Grid -->
    <script src="js/ui-grid-custom-select.js"></script> <!-- UI Grid -->
    <script src="js/FileSaver.min.js"></script> <!-- Used for AppV file downloading -->
    <script src="js/uuid.js"></script>
    <script src="js/ua-parser.min.js"></script>

    <!-- some more UI specific plugins (Angular Material) -->
    <script src="js/angular-material-datetimepicker.js"></script>
    <script src="js/angular-timezone-selector.min.js"></script>

    <!--Type ahead dropdown plugin -->
    <script src="js/gm.typeaheadDropdown.js"></script>

    <!--now for the app.js -->
    <script src="app.js"></script>

    <script src="modules/core/controllers/header.client.controller.js"></script> <!-- Header Controller -->

    <!-- load the clients Module -->
    <script src="clientsModule.js"></script>

    <!-- load the tasks Module -->
    <script src="tasksModule.js"></script>

    <!-- load the employees Module -->
    <script src="employeesModule.js"></script>

    <!-- load the applications Module -->
    <script src="applicationsModule.js"></script>

    <!-- load the Client Types Module -->
    <script src="clienttypesModule.js"></script>

</head>

<body >
<header data-ng-include="'modules/core/views/header.client.view.html'" class="navbar navbar-fixed-top navbar-inverse"></header>
{% raw %}
    <ng-view></ng-view>
{% endraw %}
</body>
</html>
