<!DOCTYPE html>
<html ng-app="users">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"> <!-- force IE to use most recent standard mode -->

		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>Sign In - TrakkTask</title>

		<!-- Styles -->
		<link href="/css/bootstrap.min.css" rel="stylesheet">
		<link href="/css/bootstrap.client.styles.css" rel="stylesheet"> <!--  TrakkTask UI Standards and Bootstrap Overrides  -->
		<link href="/css/core.client.styles.css" rel="stylesheet">
		<link href="/css/login.client.styles.css" rel="stylesheet">
		<link href="/css/overrides.client.styles.css" rel="stylesheet">
		<link href="/css/overrides-mobile.client.styles.css" rel="stylesheet">
		<link href="/css/typography.client.styles.css" rel="stylesheet">
        <link href="/css/angular-material.min.css" rel="stylesheet">
		<link href="/css/font-awesome.min.css" rel="stylesheet">
		<link href="/css/contentpane.client.styles.css" rel="stylesheet">
        <link href="/css/material-datetimepicker.min.css" rel="stylesheet">
        <link href="/css/core.css" rel="stylesheet">

        <script src="/js/es5-shim.min.js"></script> <!-- ES5 Shim to get Angular working with IE9 -->
        <script src="/js/jquery.js"></script> <!-- JQuery Lib -->
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/angular.min.js"></script> <!-- AngularJS Lib -->

        <!-- Other plugins and libs -->
        <script src="/js/CryptoJS/rollups/sha1.js"></script> <!-- CryptoJS MD5 Hasher -->

        <!-- Angular Plugins -->
        <script src="/js/ui-bootstrap-tpls.min.js"></script> <!-- Bootstrap UI 0.13.4 -->

        <script src="/js/angular-material.min.js"></script> <!-- Angular Material 1.0.7 -->
        <script src="/js/angular-animate.min.js"></script>
        <script src="/js/angular-aria.min.js"></script>
        <script src="/js/angular-route.min.js"></script>
        <script src="/js/angular-messages.min.js"></script> <!-- Angular Messages -->
        <script src="/js/angular-sanitize.min.js"></script>
        <script src="/js/angular-idle.min.js"></script>

        <!--more Plugins-->
        <script src="/js/jstz.min.js"></script> <!-- jsTimezoneDetect -->
        <script src="/js/moment.js"></script> <!-- Angular Moment -->
        <script src="/js/angular-moment.min.js"></script> <!-- Angular Moment -->
        <script src="/js/moment-timezone-with-data-2010-2020.min.js"></script>
        <script src="/js/chosen.jquery.min.js"></script>
        <script src="/js/ngToast.min.js"></script> <!-- ngToast -->
        <script src="/js/underscore-min.js"></script>
        <script src="/js/underscore-to-lodash.shim.js"></script>
        <script src="/js/ng-lodash.min.js"></script> <!-- lodash -->
        <script src="/js/uuid.js"></script>
        <script src="/js/ua-parser.min.js"></script>

        <!-- some more UI specific plugins (Angular Material) -->
        <script src="/js/angular-material-datetimepicker.js"></script>
        <script src="/js/angular-timezone-selector.min.js"></script>

        <!--Type ahead dropdown plugin -->
        <script src="/js/gm.typeaheadDropdown.js"></script>

		<script src="/modules/users/controllers/authentication.client.controller.js"></script>

		<!--  -->
		<link rel="shortcut icon" href="/images/favicon.ico">

		<script src="/js/html5shiv.min.js"></script>

	</head>

	<body class="signin" ng-init="needSignin()">
    {% raw %}
    <div class="content container-fluid" data-ng-controller="AuthenticationController" ng-init="param = '{{param}}'">
			<p class="text-center"><img height="110" src="images/TrakkTaskLogoFinal.png" alt="TrakkTaskLogo"></p>
			<h3 class="text-center" style="margin: 49px 0;">
                TrakkTask<br />
                <small style="font-size:0.51em;">{{greeting}}</small>
            </h3>

			<div id="upgradewarn">

			</div>

			<div>
				<h4 ng-if="showError" style="color:red;text-align: center">{{error}}</h4>
				<div class="row">
					<div class="col-xs-offset-1 col-xs-10 col-lg-offset-1 col-md-10">
						<form ng-if="signupState == 'signup'" data-ng-submit="signup(newUser)" class="signin form-horizontal" autocomplete="off">
							<fieldset>
								<div class="input-group">
                                    <span class="input-group-addon" id="basic-addon1">First Name</span>
                                    <input id="firstName"
                                           name="firstName"
                                           type="text"
                                           ng-required="true"
                                           class="form-control"
                                           data-ng-model="newUser.firstName"
                                           aria-describedby="basic-addon1">
								</div>
								<div class="input-group">
                                    <span class="input-group-addon" id="basic-addon1">Last Name</span>
                                    <input id="lastName"
                                           name="lastName"
                                           type="text"
                                           ng-required="true"
                                           class="form-control"
                                           data-ng-model="newUser.lastName"
                                           aria-describedby="basic-addon1">
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon" id="basic-addon1">Email</span>
                                    <input id="email"
                                           name="email"
                                           type="email"
                                           ng-required="true"
                                           class="form-control"
                                           data-ng-model="newUser.email"
                                           aria-describedby="basic-addon1">
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon" id="basic-addon1">Password</span>
                                    <input id="password"
                                           name="password"
                                           type="password"
                                           class="form-control"
                                           data-ng-model="newUser.password"
                                           aria-describedby="basic-addon1">
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon" id="basic-addon1">Confirm Password</span>
                                    <input id="confirmPassword"
                                           name="confirmPassword"
                                           type="password"
                                           class="form-control"
                                           data-ng-model="newUser.confirmPassword"
                                           aria-describedby="basic-addon1">
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon" id="basic-addon1">Company Name</span>
                                    <input id="companyName"
                                           name="companyName"
                                           type="text"
                                           class="form-control"
                                           data-ng-model="newUser.companyName"
                                           aria-describedby="basic-addon1">
                                </div>
                                <h5>One month free trial. Then billed: </h5>
                                <div class="input-group">
                                    <div ng-repeat="sub in subscriptions" class="radio">
                                        <label>
                                            <input type="radio"
                                                   ng-checked="sub.paymentSchedule === 'Yearly'"
                                                   data-ng-model="newUser.subscription"
                                                   name="newUser.subscription"
                                                   id="optionsRadios1"
                                                   ng-value="sub"
                                                   required="true"
                                            >
                                            {{sub.amount | currency}}&nbsp;{{sub.paymentSchedule}}<br />
                                        </label>
                                    </div>

                                </div>
								<div class="text-center">
									<button type="submit" class="btn btn-default btn-block">Checkout</button>
									<button class="btn btn-success"
											ng-click="needSignin()">
										Sign into your existing account
										<i class="glyphicon glyphicon-user"></i>
									</button>
								</div>
							</fieldset>
							<div class="help-login text-center row">
								<p><em>Sign up now and TrakkTask will help get you out of the weeds.</em></p>
								<hr>
								<p>TrakkTask has been optimized for use with <br><a href="https://www.google.com/chrome/" target="_blank">Chrome</a></p>
							</div>
						</form>
						<form ng-if="signupState == 'login'" data-ng-submit="signin(credentials)" class="signin form-horizontal" autocomplete="off">
							<fieldset>
								<div class="input-group">
									<span class="input-group-addon" id="basic-addon1">Email</span>
									<input id="username"
                                           name="username"
                                           type="text"
                                           class="form-control"
                                           data-ng-model="credentials.username"
                                           aria-describedby="basic-addon1">
								</div>
								<div class="input-group">
									<span class="input-group-addon" id="basic-addon1">Password</span>
									<input id="password"
                                           name="password"
                                           type="password"
                                           class="form-control"
                                           data-ng-model="credentials.password"
                                           aria-describedby="basic-addon1">
								</div>
								<div class="text-center">
									<button type="submit" class="btn btn-default btn-block">Sign In</button>
									<button class="btn btn-success"
											ng-click="needSignup()">
										Sign up for new account
										<i class="glyphicon glyphicon-plus"></i>
									</button>
								</div>
							</fieldset>
							<div class="help-login text-center row">
								<p><em>Log in using your TrakkTask Credentials</em></p>
								<hr>
								<p>TrakkTask has been optimized for use with <br><a href="https://www.google.com/chrome/" target="_blank">Chrome</a></p>
							</div>
						</form>
                        <form ng-if="signupState == 'checkout'" data-ng-submit="checkout(newUser)" class="signin form-horizontal" autocomplete="off">
                            <fieldset>
                                <div class="input-group">
                                    <span class="input-group-addon" id="basic-addon1">Address</span>
                                    <input id="Address"
                                           name="Address"
                                           type="text"
                                           ng-required="true"
                                           class="form-control"
                                           data-ng-model="newUser.Address"
                                           aria-describedby="basic-addon1">
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon" id="basic-addon1">City</span>
                                    <input id="City"
                                           name="City"
                                           type="text"
                                           ng-required="true"
                                           class="form-control"
                                           data-ng-model="newUser.City"
                                           aria-describedby="basic-addon1">
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon" id="basic-addon1">State</span>
                                    <select
                                            name="repeatSelect"
                                            id="State"
                                            data-ng-model="newUser.State"
                                            class="form-control">
                                        <option
                                                ng-repeat="state in USStates"
                                                value="{{state.short}}">{{state.name}}
                                        </option>
                                    </select>
                                </div>

                                <div class="input-group">
                                    <span class="input-group-addon" id="basic-addon1">Zip</span>
                                    <input id="Zip"
                                           name="text"
                                           type="Zip"
                                           class="form-control"
                                           data-ng-model="newUser.Zip"
                                           aria-describedby="basic-addon1">
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon" id="basic-addon1">Card Number</span>
                                    <input id="CardNumber"
                                           name="CardNumber"
                                           type="number"
                                           class="form-control"
                                           data-ng-model="newUser.cardNumber"
                                           aria-describedby="basic-addon1">
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon" id="basic-addon1">Expiration Date</span>
                                    <select class="form-control">
                                        <option ng-repeat="mon in months">{{mon}}</option>
                                    </select>
                                    <select class="form-control">
                                        <option ng-repeat="yea in years">{{yea}}</option>
                                    </select>
                                    <!--
                                    <md-autocomplete
                                        data-ng-model="newUser.expMo"
                                        md-selected-item="month"
                                        md-search-text="searchText"
                                        md-items="item in months | filter:searchText"
                                        md-item-text="item"
                                        md-min-length="0"
                                    <md-item-template>
                                        <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item}}</span>
                                    </md-item-template>
                                    </md-autocomplete>

                                    <md-autocomplete
                                            data-ng-model="newUser.expYr"
                                            md-selected-item="year"
                                            md-search-text="searchText"
                                            md-items="item in years | filter:searchText"
                                            md-item-text="item"
                                            md-min-length="0"
                                    <md-item-template>
                                        <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item}}</span>
                                    </md-item-template>
                                    </md-autocomplete>
                                    -->


                                </div>
                                <!--cardCode-->
                                <div class="input-group">
                                    <span class="input-group-addon" id="basic-addon1">Card Code</span>
                                    <input id="cardCode"
                                           name="cardCode"
                                           type="text"
                                           class="form-control"
                                           data-ng-model="newUser.cardCode"
                                           aria-describedby="basic-addon1">
                                </div>
                                <h5>One month free trial. Confirm your subscription.</h5>
                                <div class="input-group">
                                    <div ng-repeat="sub in subscriptions" class="radio">
                                        <label>
                                            <input type="radio"
                                                   ng-checked="sub.paymentSchedule === 'Yearly'"
                                                   data-ng-model="newUser.subscription"
                                                   name="newUser.subscription"
                                                   id="optionsRadios1"
                                                   ng-value="sub"
                                                   required="true"
                                            >
                                            {{sub.amount | currency}}&nbsp;{{sub.paymentSchedule}}<br />
                                        </label>
                                    </div>

                                </div>
                                <div class="text-center">
                                    <button type="submit" class="btn btn-default btn-block">Submit</button>
                                    <button class="btn btn-success"
                                            ng-click="needSignup()">
                                        Back to Signup
                                        <i class="glyphicon glyphicon-plus"></i>
                                    </button>
                                </div>
                            </fieldset>
                            <div class="help-login text-center row">
                                <p><em>Sign up now and TrakkTask will help get you out of the weeds.</em></p>
                                <hr>
                                <p>TrakkTask has been optimized for use with <br><a href="https://www.google.com/chrome/" target="_blank">Chrome</a></p>
                            </div>
                        </form>
					</div>
				</div>


			</div>



		</div>
    {% endraw %}
	</body>

</html>