*{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
[ng-drag]{
    -moz-user-select: -moz-none;
    -khtml-user-select:    none;
    -webkit-user-select:   none;
    -ms-user-select:       none;
    user-select:           none;
}
[ng-drag]{
    width:       190px;
    height:      28px;
    margin:      10px;
    padding-top: 5px;
    background-image: linear-gradient(  dimGray, black );
    color:       white;
    text-align:  center;
    display:     inline-block;
    cursor:      move;
}
ul.draggable-objects:after{
    display: block;
    content: "";
    clear:   both;
}
.draggable-objects li{
    display: block;
    width:   160px;
    height:  45px;
}
[ng-drag].drag-over{
    border:solid 1px green;
}
[ng-drag].dragging{
    opacity: 0.6;
}

[ng-drop]{
    background: #A096FF;
    background:  rgba( 160,150,256, 0.3 );
    text-align:  left;
    width:       auto;
    height:      300px;
    padding-top: 30px;
    display:     block;
    position:    relative;
}
[ng-drop].drag-enter{
    border:solid 4px green;
}
[ng-drop] div{
    height:        28px;
    margin-top:    5px;
    margin-bottom: 5px;
}
[ng-drop] span.title{
    display:     block;
    font-weight: bold;
    font-size:   18px;
    position:    absolute;
    top:         12px;
    left:        110px;
    width:       300px;
    height:      12px;
    margin-left: -100px;
    margin-top:  -4px;
}
div.trash{
    background: #FA3232;
    background:  rgba( 255,50,50, 0.5 );
    text-align:  left;
    width:       auto;
    height:      150px;
    padding-top: 30px;
    display:     block;
    position:    relative;
    margin-top: 10px;
    margin-bottom: 20px;

}
[ng-drop] div{
    position: relative;
    z-index:  2;
}

ul.simpleList{
    list-style-type: none;
    background: #96AAFF;
    background:   rgba(  150, 170, 256, 0.3 );
    width:        auto;
    height:       395px;
    text-align:   left;
    overflow:     auto;
    list-style:   none;
    padding-left: 0;
    margin-bottom: 20px;
}

ul.simpleList li{
    border-bottom: 1px solid #888;
}
ul.simpleList li p{
    margin-left:  0;
    font-weight:  bold;
    padding-top:  8px;
    padding-left: 10px;
}

div.left{
    width: 320px;
    float: left;
}

div.right{
    padding-top: 1px;
    margin-left: 360px; /* Change this to whatever the width of your left column is*/
}
.clear{
    clear: both;
}

/* background-image: linear-gradient(  violet, mediumOrchid ); class="container" overflow: hidden;  color:#6e7a7f;  margin: 0 auto;    div class="row"     */


@media (min-width: 992px) {
    .nav-users {
        position: fixed;
    }
}
.remove-account-container {
    display: inline-block;
    position: relative;
}
.btn-remove-account {
    top: 10px;
    right: 10px;
    position: absolute;
}