/* ================================================================================
   Content Pane
   ================================================================================ */


div.content.container-fluid {
    position: absolute;
    top: 50px;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 0 0 45px;
    overflow: scroll;
    transition: padding 250ms ease;
}

div.content.container-fluid > section ui-view,
div.content.container-fluid > section ui-view > section,
.full-pane {

}

/* Primary containter for application modules  */

ng-view > section {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: auto;

    padding: 50px 0 21px 0 !important;

}

.full-height {
    height: 100%;
}

.full-width {
    left: 0;
    right: 0;
    width: 100%;
}

div.content.container-fluid.menuopen {
    padding: 0 0 0 200px;
}

div.content.container-fluid.menuopen > section {
    left: 15.5%;
}


.signin .content.container-fluid {
    left: 0;
}







/* Fixed Header Tables====================================== */

.table>thead>tr>th {
    border: none;
}

div.resultsList {
    height: 100%;
}

div.resultsList table.table {
    margin: 0;
}

div.resultsList table.table thead thead tr {
    border-bottom: 3px solid #ccc;
}

div.resultsList table.table thead th:last-child {
    padding-right: 43px;
}



ul.pagination {
    margin: 0;
}

.table-fixed_headers {
    table-layout: fixed;
    max-height: 100%;
}

table.col3 thead tr th,
table.col3 tbody tr td {
    width: 33.33%;
}

table.col4 thead tr th,
table.col4 tbody tr td {
    width: 25%;
}

table.col5 thead tr th,
table.col5 tbody tr td {
    width: 20%;
}

table.col6 thead tr th,
table.col6 tbody tr td {
    width: 16.67%;
}

table.col7 thead tr th,
table.col7 tbody tr td {
    width: 14.29%;
}

table.col8 thead tr th,
table.col8 tbody tr td {
    width: 12.5%;
}





.module {
    height: 300px;
    overflow-y: auto;
}






/* ================================================================================
   Forms
   ================================================================================ */

.signin fieldset div {
    margin: 0 0 21px;
}




/* ================================================================================
   App Headers
   ================================================================================ */

.appheader {
    background: rgba(255,255,255,0.93);
    color: #2262AB;
    /*
    position: absolute;
    margin: -76px 0 0 0;
    */
    padding: 14px;
    border-bottom: 1px solid rgba(0,0,0,0.14);
    width:100%;
    left: 0;

    font-family: oxygenlight, Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;

    -webkit-transition: left 250ms ease;
    -moz-transition: left 250ms ease;
    -ms-transition: left 250ms ease;
    -o-transition: left 250ms ease;
    transition: left 250ms ease;

    letter-spacing: -0.07em;
}

.appheader h1,
.appheader h2,
.appheader h3,
.appheader h4,
.appheader h5,
.appheader h6 {
    margin: 0;
}

section.scroll,
div.scroll {
    overflow-y: auto;
}