<section applications>

    <div class="appheader">
        <h3>Create Client Type <span ng-show="clienttypeAdded"><strong>{{newclienttype.type}}</strong></span></h3>
    </div>
    <form ng-submit="createClienttype(newclienttype)"  class="form-group col-lg-6">
        <fieldset>
            <div class="input-group">
                <span class="input-group-addon">Type</span>
                <input class="form-control" ng-model="newclienttype.type" required>
            </div>
        </fieldset>
        <button type="submit" class="btn btn-success">Create
            <i class="glyphicon glyphicon-plus-sign"></i>
        </button>

    </form>
</section>