<md-content>
    <h1>Client Types</h1>
    <md-input-container flex>
        <label><i class="fa fa-search"></i> Search Client Types</label>
        <input ng-change="refreshData(search)" ng-model="search">
    </md-input-container>
    <a class="btn btn-default" href="/#/clienttypes/create">Create New Client Type</a>

    <div layout="column">
        <!--- Results grid ----->
        <div ng-init="getClienttypes()"
             ui-grid="gridOptions"
             ui-grid-auto-resize
             ui-grid-cellnav
             ui-grid-resize-columns
             ui-grid-custom-cell-select
             ui-grid-pagination
             class="grid"
        ></div>
    </div>
</md-content>
