

/* tab set positioning */
[ticketsFieldManager] div.resultsTabs.full-pane {
    top: 60px;
}



.md-dialog-content md-chips {
    border-bottom: 1px solid #ddd;
}

[ticketsFieldManager] md-chips md-chips-wrap {
    font-size: 1.01em;
    padding: 5px 0 0;
    margin: 0 0 4px;
}

[ticketsFieldManager] md-chips div.md-chip-content {
    font-size: 1.31em;
    padding: 2px 7px 2px 2px;
}

[ticketsFieldManager] md-chips md-chip.md-chip {
    padding: 0px 8px;
    margin: 0 3px 4px 0;
    height: 26px;
}

[ticketsFieldManager] md-chips.fieldValChips button.md-button {
    min-width: initial;
    line-height: normal;
    min-height: initial;
    width: 22px;
    height: 22px;
}

[ticketsFieldManager] md-chips.fieldValChips button.md-button i {
    font-size: 0.81em;
}

[ticketsFieldManager] md-chips.fieldValChips button.md-chip-remove {
    margin: 2px;
}

[ticketsFieldManager] div.tab-container ul.nav-tabs > li {
    min-width: 120px;
    max-width: 120px;
}


[ticketsFieldManager] md-list {
    padding: 0;
}

[ticketsFieldManager] md-list-item {
    padding: 3px 16px;
    overflow: hidden;
    align-items: stretch;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease;
    margin: 0;
    border-bottom: none;
}

[ticketsFieldManager] md-list-item.fieldRow,
[ticketsFieldManager] md-list-item.groupRow{
    padding: 0 0 0 25px;
    border-bottom: 1px solid #ccc;
    overflow: hidden;
}

[ticketsFieldManager] md-list-item.fieldRow{
    background-color: rgba(255,255,255,0.9);
}

[ticketsFieldManager] md-list-item.groupRow{
    background-color: rgba(245,245,245,0.9);
}


[ticketsFieldManager] md-list-item.open {
    height: auto;
}

[ticketsFieldManager] md-list-item.closed {
    height: 35px;
}

[ticketsFieldManager] md-list-item > div.fieldContainer {
    margin: 0 0 0 23px;
}

[ticketsFieldManager] md-list-item md-input-container md-select {
    margin: -3px 0;
}

[ticketsFieldManager] md-input-container label span.Alert {
    color: #c90449;
}

[ticketsFieldManager] md-list-item > div.rowContainer {
    min-height: 35px;
}

[ticketsFieldManager] md-list-item.fieldRow > div {
    padding: 0;
}

[ticketsFieldManager] md-list-item.fieldRow > div.parentOpt,
[ticketsFieldManager] md-list-item.fieldRow > div.fieldProps {
    background-color: rgba(240,240,240,0.9);
    border-top: 1px solid #fff;
    margin: 0 23px;
}

[ticketsFieldManager] md-list-item.fieldRow > div.fieldProps {
    padding: 23px 8px 12px;
}


[ticketsFieldManager] md-list-item.fieldRow > div.parentOpt md-checkbox {
    margin: 18px;
}

[ticketsFieldManager] md-list-item.fieldRow button.md-button {
    margin: -1px 3px 0;
}

[ticketsFieldManager] md-list-item.fieldRow > div > ul {
    padding: 0;
    margin: 0;
}

[ticketsFieldManager] md-list-item.fieldRow > div > span > div,
[ticketsFieldManager] md-list-item.fieldRow > form {
    margin: 0 6px 0 0;
}



[ticketsFieldManager] md-checkbox .md-icon {
    width: 14px;
    height: 14px;
}

[ticketsFieldManager] md-checkbox.md-checked .md-icon:after {
    left: 4.67px;
    top: 1.22px;
    width: 5.67px;
    height: 10.33px;
}




/* Popover style overrides */

div.ns-popover-tooltip-theme div.ns-popover-tooltip {
    font-size: 1.01em !important;
    max-width: none;
    padding: 8px;
}

div.ns-popover-tooltip-theme div.ns-popover-tooltip input {
    margin: 5px 0;
    border-color: #ddd;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 3px 3px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 3px 3px rgba(0,0,0,0.1);
    box-shadow: 0 3px 3px rgba(0,0,0,0.1);
}

div.ns-popover-tooltip-theme div.ns-popover-tooltip .md-title {
    font-size: 1.21em !important;
    padding: 4px 0;
    margin: 0 0 4px;
}

div.ns-popover-tooltip-theme div.ns-popover-tooltip md-autocomplete {
    margin: 4px 2px;
}

div.ns-popover-tooltip-theme div.ns-popover-tooltip > div > .md-button {
    margin: 0 0 8px;
}

div.ns-popover-tooltip-theme div.ns-popover-tooltip > div > .md-button {
    min-width: 21px;
    margin: 0 0 0 4px;
}

div.ns-popover-tooltip-theme div.ns-popover-tooltip > div > .md-button:first-of-type {
    margin: 0 0 0 16px;
}

.matchesContainer {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 150px;
    margin: 8px 0;
}

