[addTemplateDialog] boxes md-checkbox:last-of-type {
    margin-right: 16px;
}

[addTemplateDialog] label.optionalCreateFieldsLabel {
    margin-top: 60px;
    white-space: pre-line;
}

[addTemplateDialog] md-dialog-content {
    padding-top: 5px;
}