[ticketCreate] accordion a:hover {
    color: #000;
    background: transparent;
}

[ticketCreate] div.ticketProps1 dl dt span {
    display: block;
    text-align: right;
    margin: 0 14px 0 0;
}

[ticketCreate] span.badge {
    background-color: #b9e0f5;
    background-color: rgba(66,154,201,0.21);
    color: #213164;
}

[ticketCreate] div.page-header {
    min-height: 0.1px;
    max-height: 45px;
    padding-bottom: 5px;
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -ms-animation: spin .7s infinite linear;
    -webkit-animation: spinw .7s infinite linear;
    -moz-animation: spinm .7s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

@-webkit-keyframes spinw {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@-moz-keyframes spinm {
    from { -moz-transform: rotate(0deg);}
    to { -moz-transform: rotate(360deg);}
}