<section class="full-height nopad search" clients flex="100" layout="column">
    <div class="appheader">
    <h3>Clients</h3>
        <a ng-click="openPage('tasks')">Open Tasks?</a>
    </div>
    <md-content class="search clients" layout="column" flex>
<md-tabs
md-selected="tabData.selectedIndex"
md-border-bottom
md-autoselect
ng-if="!template.inProgress"
    ng-init="openclientLink()"
md-dynamic-height="false"
    >
    <md-tab ng-repeat="(tabKey,tabValue) in tabs track by $index">
    <md-tab-label>
    <span>{{tabValue.ticketId}}</span>
<a ng-if="tabKey != '0'" href="" ng-click="removeTab(tabKey)"><i class="fa fa-times"></i></a>
    </md-tab-label>
    <md-tab-body>
        <div class="table-responsive resultsList" ng-class="{advCritOpen: criteriaCollapsed, advCritClosed: !criteriaCollapsed}" layout="column">
           <!--- Results grid ----->
            <div ng-init="listClients()"
                    ui-grid="gridOptions"
                    ui-grid-auto-resize
                    ui-grid-cellnav
                    ui-grid-resize-columns
                    ui-grid-custom-cell-select
                    ui-grid-pagination
                    class="grid"
            ></div>
        </div>
    </md-tab-body>
    </md-tab>
    </md-tabs>
    </md-content>


</section>
