<div layout="column" flex="100" class="caseDetail">
    <!-- Case details header -->
    <div class="detailHeader" layout-gt-sm="row" layout-padding>
        <div layout="column" flex>
            <span class="md-display-1" flex="100">Case {{tabValue.ticketId}}</span>
            <span class="md-subhead" flex="100">{{tabValue.title}}</span>
        </div>

        <md-menu md-position-mode="target-right target" md-offset="0 24">
            <md-button
                    class="md-fab md-mini md-primary"
                    layout-margin
                    aria-label="Edit roles"
                    ng-click="$mdOpenMenu($event)"
            ><i class="fa fa-ellipsis-h fa-2x"></i></md-button>
            <md-menu-content width="4" class="manageUsers">
                <!--
                <md-menu-item layout="row" layout-padding>
                    <p flex><strong><em>OCL Application Roles</em></strong></p>
                </md-menu-item>
                -->
                <!-- application list -->
                <md-menu-item>
                    <md-button aria-label="comment" ng-click="openNewTab(tabValue.ticketId);" aria-label="open details in a new window">
                        <md-icon md-svg-src="images/_icons/browser74.svg"></md-icon> open details in a new window
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button aria-label="label" ng-click="copyToClipboard(tabValue.ticketId)">
                        <md-icon md-svg-src="images/_icons/copy1.svg" aria-label="copy link"></md-icon> copy link to case detail
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button aria-label="label" ng-click="sendMail(tabValue.ticketId,tabValue.title)">
                        <md-icon md-svg-src="images/_icons/email.svg" aria-label="email link"></md-icon> email link to case detail
                    </md-button>
                </md-menu-item>
                <md-menu-item layout="column">
                    <p><strong><em>Show details</em></strong></p>
                    <md-list>
                        <md-list-item><md-checkbox ng-model="tabValue.showCaseDetailsPane">Case Details</md-checkbox></md-list-item>
                        <md-list-item><md-checkbox ng-model="tabValue.showActivityLogPane">Activity Log</md-checkbox></md-list-item>
                        <md-list-item><md-checkbox ng-model="tabValue.showCaseHistoryPane">Case History</md-checkbox></md-list-item>
                        <md-list-item ng-if="!tabValue.isSubcase"><md-checkbox ng-model="tabValue.showCloseCaseDetailsPane">Close Case Details</md-checkbox></md-list-item>
                        <md-list-item ng-if="!tabValue.isSubcase"><md-checkbox ng-model="tabValue.showContactDetailsPane">Contact Details</md-checkbox></md-list-item>
                        <md-list-item><md-checkbox ng-model="tabValue.showCustomerDetailsPane">Customer Details</md-checkbox></md-list-item>
                        <md-list-item ng-if="!tabValue.isSubcase"><md-checkbox ng-model="tabValue.showEbondingDetailsPane">Ebonding Details</md-checkbox></md-list-item>
                        <md-list-item ng-if="!tabValue.isSubcase"><md-checkbox ng-model="tabValue.showNetworkOutagePane">Network Outage</md-checkbox></md-list-item>
                        <md-list-item ng-if="!tabValue.isSubcase"><md-checkbox ng-model="tabValue.showPremiseDetailsPane">Premise Details</md-checkbox></md-list-item>
                        <md-list-item ng-if="!tabValue.isSubcase"><md-checkbox ng-model="tabValue.showSlaDetailsPane">SLA Details</md-checkbox></md-list-item>
                        <md-list-item ng-if="!tabValue.isSubcase"><md-checkbox ng-model="tabValue.showServiceDetailsPane">Service Details</md-checkbox></md-list-item>
                        <md-list-item><md-checkbox ng-model="tabValue.showUserDetailsPane">User Details</md-checkbox></md-list-item>
                        <md-list-item ng-if="!tabValue.isSubcase"><md-checkbox ng-model="tabValue.showVoiceDataDetailsPane">Voice Data Details</md-checkbox></md-list-item>
                    </md-list>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
    </div>

            <!-- Task section -->
            <div ng-show="tabValue.showActivityLogPane" class="panel panel-default">
                <div class="panel-heading">Activity Log</div>

                <div
                        id="activityLogGrid"
                        ui-grid="tabValue.activityLog"
                        ui-grid-exporter
                        ui-grid-resize-columns
                ></div>
            </div>

</div>
