<section>
    <div class="appheader">
        <h3>{{myFieldset.actionName}} {{myFieldset.collectionName}} <strong>{{tabValue.item.Name}}</strong></h3>
    </div>
    <form ng-submit="createItem(tabValue.item)"  class="form-group col-lg-6">

        <fieldset>
        <div ng-repeat="item in myFieldset.fields" class="input-group">
            <span class="input-group-addon">{{item.label}}</span>
            <input ng-if="item.field !== 'Type' && item.field !== 'ResponsibleEmployee'"
                   class="form-control"
                   ng-model="$parent.tabValue.item[item.field]"
                   ng-required="item.required">

            <md-autocomplete
                    ng-if="item.field == 'ResponsibleEmployee'"
                    ng-init="getEmployees()"
                    md-selected-item="$parent.tabValue.item[item.field]"
                    md-search-text-change="searchTextChange(searchText)"
                    md-search-text="searchText"
                    md-selected-item-change="selectedItemChange(item)"
                    md-items="item in employees | filter:searchText"
                    md-item-text="item.displayName"
                    md-min-length="0"
                    placeholder="Enter A Employee"
            <md-item-template>
                <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item.displayName}}</span>
            </md-item-template>
            </md-autocomplete>

            <md-autocomplete
                    ng-if="item.field == 'Type'"
                    ng-init="getClientTypes()"
                    md-selected-item="$parent.tabValue.item[item.field]"
                    md-search-text-change="searchTextChange(searchText)"
                    md-search-text="searchText"
                    md-selected-item-change="selectedItemChange(item)"
                    md-items="item in clienttypes | filter:searchText"
                    md-item-text="item.type"
                    md-min-length="0"
                    placeholder="Enter A Type"
                <md-item-template>
                    <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item.type}}</span>
                </md-item-template>
            </md-autocomplete>

        </div>
        </fieldset>

        <button type="submit" class="btn btn-success">{{myFieldset.actionName}}
            <i ng-if="myFieldset.actionName == 'Create'" class="glyphicon glyphicon-plus-sign"></i>
            <i ng-if="myFieldset.actionName == 'Update'" class="glyphicon glyphicon-pencil"></i>
        </button>
    </form>
</section>