<section>
    <div class="appheader">
        <h3>{{myUpdateFieldset.actionName}} {{myUpdateFieldset.collectionName}} <strong>{{tabValue.item.Name}}</strong></h3>
    </div>

        <fieldset>
            <!-- CSS docs for this form stuff: http://getbootstrap.com/components/#input-groups -->
            <div ng-repeat="item in myUpdateFieldset.fields" class="input-group">
                <span class="input-group-addon">{{item.label}}</span>
                <input class="form-control"
                       ng-if="item.field !== 'Type' && item.field !== 'ResponsibleEmployee'"
                       ng-model="$parent.tabValue.item[item.field]"
                       ng-required="item.required">

                <md-autocomplete
                        ng-if="item.field == 'ResponsibleEmployee'"
                        ng-init="getEmployees()"
                        md-selected-item="$parent.tabValue.item[item.field]"
                        md-search-text="searchText"
                        md-items="item in employees | filter:searchText"
                        md-item-text="item.displayName"
                        md-min-length="0"
                <md-item-template>
                    <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item.displayName}}</span>
                </md-item-template>
                </md-autocomplete>

                <md-autocomplete
                        ng-if="item.field == 'Type'"
                        ng-init="getClientTypes()"
                        md-selected-item="$parent.tabValue.item[item.field]"
                        md-search-text="searchText"
                        md-items="item in clienttypes | filter:searchText"
                        md-item-text="item.type"
                        md-min-length="0"
                <md-item-template>
                    <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item.type}}</span>
                </md-item-template>
                </md-autocomplete>
            </div>
        </fieldset>
    <form class="form-group">
        <fieldset>
            <div class="input-group">
                <span class="input-group-addon">Client Tasks</span>
            </div>
            <table class="table-striped table-bordered">
                <thead>
                <tr>
                    <th>Task</th>
                    <th>Employee</th>
                    <th>Delete Task</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in tabValue.item.Tasks">
                    <td valign="top"><input type="text" class="form-control" ng-model="item.task.Name"></td>
                    <td valign="top"><input type="text" class="form-control" ng-model="item.employee.displayName"></td>
                    <td valign="top">
                        <button class="btn btn-danger btn-sm" ng-click="removeTask(tabValue.item, item.taskClientId, item.task, $index)"><i class="fa fa-trash"></i></button>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="input-group">
                <span class="input-group-addon">New Task</span>
                <md-autocomplete
                        ng-init="getTasks()"
                        md-selected-item="item.task"
                        md-search-text="searchTask"
                        md-items="item in tasks | filter:searchTask"
                        md-item-text="item.Name"
                        md-min-length="0"
                <md-item-template>
                    <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item.Name}}</span>
                </md-item-template>
                </md-autocomplete>
            </div>
            <div class="input-group">
                <span class="input-group-addon">Responsible Employee</span>
                <md-autocomplete
                        md-selected-item="item.employee"
                        md-search-text="searchText"
                        md-items="item in employees | filter:searchText"
                        md-item-text="item.displayName"
                        md-min-length="0"
                <md-item-template>
                    <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item.displayName}}</span>
                </md-item-template>
                </md-autocomplete>
            </div>
        </fieldset>
        <button ng-click="addTask(item, tabValue.item.id, tabValue.item.Name)"  class="btn btn-default">Assign Task
            <i class="glyphicon glyphicon-pencil"></i>
        </button>
    </form>
        <button ng-click="updateItem(tabValue.item)" class="btn btn-success">{{myUpdateFieldset.actionName}}
            <i class="glyphicon glyphicon-pencil"></i>
        </button>



    <button type="delete" class="btn btn-danger"  ng-click="deleteItem(tabValue.item)">Delete
        <i ng-if="myUpdateFieldset.actionName == 'Update'" class="glyphicon glyphicon-trash"></i>
    </button>

    <!-- Modal Template -->

    <script type="text/ng-template" id="appModal">
        <div class="modal-header">
            <i class="fa pull-right fa-{{modal.icon}}" ng-if="modal.icon" ng-class="{'error' : modal.title == 'Error','warning' : modal.title == 'Warning','success' : modal.title == 'Success'}"></i>
            <h4 class="modal-title">{{modal.title}}</h4>
        </div>
        <div class="modal-body">
            {{modal.body}}
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="cancel()">Cancel</button>
            <button class="btn btn-primary" type="button" ng-click="confirm()">OK</button>
        </div>
    </script>

    <script type="text/ng-template" id="appModal2">
        <div class="modal-header">
            <i class="fa pull-right fa-{{modal.icon}}" ng-if="modal.icon" ng-class="{'error' : modal.title == 'Error','warning' : modal.title == 'Warning','success' : modal.title == 'Success'}"></i>
            <h4 class="modal-title">{{modal.title}}</h4>
        </div>
        <div class="modal-body">
            {{modal.body}}
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="cancel()">OK</button>
        </div>
    </script>

</section>