<script></script>
<div ng-controller="clientsController">
    <form ng-submit="clientSearch(keyword)" layout="row" flex="100">
        <md-input-container flex>
            <label><i class="fa fa-search"></i> Search clients</label>
            <input ng-model="keyword">
        </md-input-container>
        <md-button id="refreshAllButton" type="button" aria-label="reset" class="md-raised" ng-click="resetSearch();">
            <i class="fa fa-refresh"></i>
            <md-tooltip>reset search</md-tooltip>
        </md-button>
    </form>
    <h1>Results</h1>
    <ul>
        <li ng-repeat="client in clients">Name:{{client.Name}}
            Address:{{client.Address1}}</li>
    </ul>
</div>

