<section applications>

    <div class="appheader">
        <h3>Create Task <span ng-show="taskAdded"><strong>{{newtask.Name}}</strong></span></h3>
    </div>
    <form ng-submit="createTask(newtask)"  class="form-group col-lg-6">
        <fieldset>
        <div class="input-group">
            <span class="input-group-addon">Name</span>
            <input class="form-control" ng-model="newtask.Name" required>
        </div>
        <div class="input-group">
            <span class="input-group-addon">Number</span>
            <input class="form-control" ng-model="newtask.Number" required>
        </div>
        <div class="input-group">
            <span class="input-group-addon">Frequency</span>
            <input class="form-control" ng-model="newtask.Frequency" required>
        </div>
        <div class="input-group">
            <span class="input-group-addon">Due Date</span>
            <input  class="form-control" ng-model="newtask.DueDate" required>
        </div>
        <div class="input-group">
            <span class="input-group-addon">Extended Due Date</span>
            <input class="form-control" ng-model="newtask.ExtendedDueDate">
        </div>
        <div class="input-group">
            <span class="input-group-addon">Second Extended Due Date</span>
            <input class="form-control" ng-model="newtask.SecondExtendedDueDate">
        </div>
        </fieldset>
        <button type="submit" class="btn btn-success">Create
            <i class="glyphicon glyphicon-plus-sign"></i>
        </button>
        
    </form>
</section>