<div ng-init="viewTask()">
    <form ng-submit="updateTask(detailedtask)" layout="row" flex="100">
        <md-input-container flex>
            <label>Name</label>
            <input ng-model="detailedtask.Name" required>
        </md-input-container>
        <md-input-container flex>
            <label>Number</label>
            <input ng-model="detailedtask.Number" required>
        </md-input-container>
        <md-input-container flex>
            <label>Frequency</label>
            <input ng-model="detailedtask.Frequency" required>
        </md-input-container>
        <md-input-container flex>
            <label>Due Date</label>
            <input ng-model="detailedtask.DueDate" required>
        </md-input-container>
        <md-input-container flex>
            <label>Extended Due Date</label>
            <input ng-model="detailedtask.ExtendedDueDate">
        </md-input-container>
        <md-input-container flex>
            <label>Second Extended Due Date</label>
            <input ng-model="detailedtask.SecondExtendedDueDate">
        </md-input-container>
        <md-button class="md-raised md-primary" type="submit" aria-label="Update Task">
            <i class="fa fa-pencil">Update</i>
        </md-button>
    </form>
</div>