<script></script>
<div ng-controller="tasksController" ng-init="getTasks()">
    <form layout="row" flex="100">
        <md-input-container flex>
            <label><i class="fa fa-search"></i> Search Tasks</label>
            <input ng-model="query">
        </md-input-container>
        <a class="btn btn-default" href="/#/tasks/create">Create New Task</a>
    </form>
    <h1>Tasks</h1>

    <table style="width:100%">
        <tr>
            <th>Name</th>
            <th>Number</th>
            <th>Frequency</th>
            <th>DueDate</th>
            <th>ExtendedDueDate</th>
            <th>SecondExtendedDueDate</th>
        </tr>

        <tr ng-repeat="task in tasks | filter:query">
            <td><a data-ng-href="#/task/update/{{task.id}}">{{task.Name}}</a></td>
            <td>{{task.Number}}</td>
            <td>{{task.Frequency}}</td>
            <td>{{task.DueDate}}</td>
            <td>{{task.ExtendedDueDate}}</td>
            <td>{{task.SecondExtendedDueDate}}</td>
        </tr>
    </table>

</div>
